.group-panel.col-md-12
  .col-md-12(
    masonry
    infinite-scroll="scrollConfig.loadData()"
    infinite-scroll-immediate-check="true"
    infinite-scroll-disabled="scrollConfig.isBusy"
  )
    .col-md-3.group(ng-repeat="group in groups.data")
      include ../group-block.jade
