doctype html
html(ng-app="todo")
  head
    title ToDo

    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    link(href="bower_components/bootstrap/dist/css/bootstrap.css", rel="stylesheet")
    link(href="css/index.css", rel="stylesheet")

  body
    .container-fluid
      .row
        .col-md-4.col-md-offset-4.task-block
          h1.title ToDo
          div(ui-view)

    script(src="bower_components/jquery/dist/jquery.min.js")
    script(src="bower_components/bootstrap/dist/js/bootstrap.js")
    script(src="bower_components/angular/angular.min.js")
    script(src="bower_components/angular-resource/angular-resource.min.js")
    script(src="bower_components/angular-bootstrap/ui-bootstrap.min.js")
    script(src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js")
    script(src="bower_components/angular-ui-validate/dist/validate.js")
    script(src="bower_components/angular-ui-router/release/angular-ui-router.min.js")
    script(src="bower_components/underscore/underscore-min.js")
    script(src="js/index.js")
    