$border-grey: 1px solid lightgrey

.new-groups-inp
  margin-top: 30px

.ctrl-btn
  font-size: 20px
  margin: 5px

.ctrl-btn:hover
  cursor: pointer

.new-group,
.search
  font-size: 20px
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5)
  padding: 10px

.group-title,
.group-description,
.item-title,
.item-description,
  padding: 5px
  outline: none
  border: 0px
  display: block
  width: 100%
  resize: none

.new-item
  border-top: $border-grey
  margin-right: -10px;
  margin-left: -10px;

.del-btn
  top: 8px

.search-inp:focus
  box-shadow: none
  border: 1px solid #ccc
