$pink: #DC90BB
$white: #ffffff
$pink-shadow: -2px 1px 1px #DB85B6, -2px 2px 1px #DD80B5, -4px 3px 1px #D77BAF

.top-menu
  background: $pink
  padding: 7px 0px
  box-shadow: $pink-shadow 

.title
  line-height: 1.7
  font-size: 20px
  color: $white
  cursor: pointer
