div.left-navbar(ng-if="false")
  .navbar
    h2.title Menu
    ul.menu
      li 
        span.glyphicon.glyphicon-list-alt
        | Notes
      li
        span.glyphicon.glyphicon-trash 
        | Trash
  .controls
    span.glyphicon.glyphicon-chevron-left
    span.glyphicon.glyphicon-chevron-right
