.title
  {{group.title}}
.tasks(ng-switch="group.view")
  .text(ng-switch-when="false")
    {{group.tasks[0].description}}
  ul(ng-switch-when="true")
    li(
      ng-repeat="task in group.items"
      ng-class="{completed: task.is_completed}"
    ) {{task.description}}
  .updated-date.pull-right
    {{group.updated_at | date: "mediumDate"}}
  .clearfix
