.colors-container
  span.color.white(ng-click="creatingGroupCtrl.setColor('white')")
  span.color.green(ng-click="creatingGroupCtrl.setColor('green')")
  span.color.blue(ng-click="creatingGroupCtrl.setColor('blue')")
  span.color.orange(ng-click="creatingGroupCtrl.setColor('orange')")
  span.color.red(ng-click="creatingGroupCtrl.setColor('red')")
  span.color.yellow(ng-click="creatingGroupCtrl.setColor('yellow')")
